:root {
	--primary: #111B54;
	--light:#ffffff;
	--grey:#efefef;
}
.margincard{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.title{
  text-align: center;
  margin-top: 3px;
}

body{
	overflow: hidden;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	color: var(--primary);
}
.bg-primary{
	background-color: var(--primary)!important;
	 
}
.bg-light{
	background-color: var(--light)!important;

}
a:hover{
	text-decoration: none;
}
#sidebar-container{
	min-height: 100vh;

}
#sidebar-container .logo{
	padding: .875rem 1.25rem;
}
#sidebar-container .menu{
	width: 18rem;
}
.btn-search{
	right: 5px;
}